<!doctype html>
<html lang="zh-CN">

<head>
    <title><%= title %></title>
    <meta name="description" content="北京二中下课铃投稿平台">
    <meta name="viewport" content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/cdn/APlayer-1.10.1.min.css">
    <link rel="stylesheet" href='/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" type='text/css' href='/css/header.css'>
    <link rel="stylesheet" type='text/css' href='/css/basic.css'>
    <link rel="stylesheet" type='text/css' href='/css/administration/com_check.css'>
    <script type="text/javascript" src="/js/cdn/APlayer-1.10.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/cdn/jquery-3.5.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/common/header.js" charset="utf-8"></script>
    <!--[if IE]>
	  <script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
</head>

<body onload="GetComment()">
    <header class="international-header">
        <script>refreshHeader()</script>
    </header>
    <div class="container">
        <div class="comment-wrap">
            <div class="list">
                <div class="list-title">
                    <div class="list-title-text">待审核评论</div>
                </div>
                <div class="operation-wrap">
                    <div class="operation-wrap-title">
                        <div class="order-method-wrap" title="点击切换排列顺序">
                            <span class="order-icon-wrap">
                                <i class="fa fa-sort-numeric-asc fa-lg"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="list-content">

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/common/input.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/common/common.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/administration/comcheck.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/common/header.js" charset="utf-8"></script>
</body>

</html>