.message-wrap{
	display: flex;
	width: 900px;
	height: calc(100vh - 100px);
	margin: 20px auto;
}
.message-sidebar{
	flex-direction: row;
	width: 140px;
	height: 100%;
	background-color: #fff;
	margin-right: 10px;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(121, 146, 185, 0.5);
}
.message-sidebar .title{
	height: 45px;
	line-height: 50px;
	font-size: 1.1em;
	text-align: center;
	border-bottom: 1px solid #ededed;
	color: #174071;
	user-select: none;
}
.message-sidebar .title .msg{
	margin-left: 10px;
}
.message-sidebar .list-item{
	position: relative;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px solid #ededed;
}
.message-sidebar .list-item a{
	display: block;
	color: #174071;
	width: 100%;
	line-height: 40px;
}
.message-sidebar .list-item:hover{
	background-color: #e0ebf9;
}
.message-sidebar .list-item.active{
	background-color: #a6c3e5;
}
.message-sidebar .list-item.active a{
	color: #fff;
}
.message-sidebar .list-item .remind{
	position: absolute;
    right: 8px;
    top: 12.5px;
    line-height: 14px;
    width: auto;
    padding: 0 3.4px;
    border-radius: 10px;
    font-size: 10px;
    color: #fff;
    background-color: #f25d64;
}
.message-content{
	flex-direction: row;
	width: 785px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(121, 146, 185, 0.5);
	color: #174071;
}
.message-content .title{
	line-height: 35px;
	text-align: center;
	border-bottom: 1px solid #ededed;
	user-select: none;
}
.message-content .list{
	overflow-x: none;
	overflow-y: auto;
	height: calc(100% - 35px);
}
.message-content .list .list-empty{
	text-align: center;
	line-height: 60px;
	font-size: 0.95em;
	color: #1565c0;
	user-select: none;
}
.message-content .list-item{
	padding: 10px 15px;
	border-bottom: 1px solid #ededed;
}
.message-content .list-item.system .msg-title{
	font-weight: bold;
	margin-bottom: 5px;
}
.message-content .list-item.system .msg-content{
	margin-left: 10px;
	color: #999;
	font-size: 0.9em;
}
.message-content .list-item.system .msg-content .data-empty{
	color: #888;
}
.message-content .list-item.system .msg-content .check-user{
	text-align: right;
}
.message-content .list-item.system .msg-content .check-time{
	text-align: right;
}
.message-content .list-item.like{
	color: #666;
	font-size:0.95em;
}
.message-content .list-item.like .like-user{
	color: #174071;
	font-size: 1.05em;
}
.message-content .list-item.like .like-time{
	margin-top: 4px;
	font-size: 0.85em;
	color: #aaa;
}
.message-content .list-item.comment{
	color: #666;
	font-size:0.95em;
}
.message-content .list-item.comment .reply-user{
	color: #174071;
	font-size: 1.05em;
}
.message-content .list-item.comment .reply-time{
	margin-top: 4px;
	font-size: 0.85em;
	color: #aaa;
}
.message-content .list i.fa-spinner{
	margin: 150px auto;
	width: 100%;
}