<!doctype html>
<html lang="zh-CN">

<head>
    <title>快捷登录</title>
    <meta name="viewport" content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href='/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" type='text/css' href='/css/basic.css'>
    <link rel="stylesheet" type='text/css' href='/css/quicklogin.css'>
    <script type="text/javascript" src="/js/cdn/jquery-3.5.1.min.js" charset="utf-8"></script>
    <script src="/js/cdn/md5-2.12.0.min.js"></script>
    <!--[if IE]>
          <script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
        <![endif]-->
    <meta name='viewport'
        content='width=device-width,initial-scale=1.0,minimun-scale=1.0,maximum-scale=1.0,user-scalable=no'>
</head>

<body>
    <div class="wrapper-quicklogin">
        <div class="content">
            <div class="nav-quicklogin clearfix">
                <div class="tab active" id="login">登录</div>
                <div class="tab" id="register">注册</div>
            </div>
            <div class="close">×</div>
            <div class="panel active" id="login">
                <div class="login-container">
                    <div class="row username-row sername-row-login">
                        <div class="input-wrap middle username-wrap">
                            <span class="input-span">
                                <input type="text" class="editable" id='username' autocomplete="on"
                                    placeholder="用户名" οnkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\_]/g,'')"/></span>
                        </div>
                        <p class="message" id="username"></p>
                    </div>
                    <div class="row pwd-row pwd-row-login">
                        <div class="input-wrap middle pwd-wrap">
                            <span class="input-span">
                                <input type="password" class="editable" id='pwd' autocomplete="on"
                                    placeholder="密码" οnkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\_]/g,'')"/></span>
                        </div>
                        <p class="message" id="pwd"></p>
                    </div>
                    <div class="row captcha-row" style="display: none;"></div>
                    <div class="row link-row clearfix">
                        <p><a href="javascript:;">忘记密码？</a></p>
                    </div>
                    <div class="row btn-row clearfix">
                        <div class="input-wrap-btn middle">
                            <input type="button" class="btn btn-login" value="登录" id="submit"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" id="register">
                <div class="register-container">
                    <div class="row username-row username-row-reg">
                        <div class="input-wrap middle username-wrap">
                            <span class="input-span">
                                <input type="text" class="editable" id='username-reg' autocomplete="on"
                                    placeholder="用户名" oninput="usernameCheck()"/></span>
                        </div>
                        <p class="message" id="username"></p>
                    </div>
                    <div class="row pwd-row pwd-row-reg">
                        <div class="input-wrap middle pwd-wrap">
                            <span class="input-span">
                                <input type="password" class="editable" id='pwd-reg' autocomplete="on"
                                    placeholder="密码（请使用未关联重要账号的密码）" oninput="pwdCheck();rePwdCheck()" /></span>
                        </div>
                        <p class="message" id="pwd"></p>
                    </div>
                    <div class="row re-pwd-row re-pwd-row-reg">
                        <div class="input-wrap middle re-pwd-wrap">
                            <span class="input-span">
                                <input type="password" class="editable" id='re-pwd-reg' autocomplete="on"
                                    placeholder="重复输入密码" oninput="pwdCheck();rePwdCheck()"/></span>
                        </div>
                        <p class="message" id="re-pwd"></p>
                    </div>
                    <div class="row email-row email-row-reg">
                        <div class="input-wrap middle email-wrap">
                            <span class="input-span">
                                <input type="text" class="editable" id='email-reg' autocomplete="on"
                                    placeholder="邮箱（通知审核结果用）" oninput="emailCheck()" /></span>
                        </div>
                        <p class="message" id="email"></p>
                    </div>
                    <div class="row captcha-row" style="display: none;"></div>
                    <div class="row link-row clearfix">
                        <p><a href="javascript:;" class="link-tologin">已注册？点击登录</a></p>
                    </div>
                    <div class="row btn-row clearfix">
                        <div class="input-wrap-btn middle">
                            <input type="button" class="btn btn-register" value="注册" id="submit-reg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/common/input.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/common/common.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/user.js" charset="utf-8"></script>
	<script type="text/javascript">
		// 回车登录
		$(function () {
			$(document).keydown(function (event) {
				if (event.keyCode == 13) {
					if($('.wrapper-quicklogin .panel#login').hasClass("active")){
						$('.wrapper-quicklogin .panel.active#login input.btn.btn-login').trigger('click')
					}
				}
			});
		})
	</script>
</body>