.option-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto 10px auto;
}
.option{
  position: relative;
  background-color: #fff;
  padding: 10px 20px;
  margin: 20px 25px;
  height: 120px;
  width: 150px;
  text-align: center;
  color: #1565c0;
  border: 1.5px solid #6999d3;
  border-radius: 2px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
}
.option:hover{
	box-shadow: 0 2px 4px 0 rgba(121, 146, 185, 0.54);
}
.option-icon-wrap{
	line-height: 60px;
}
.option-icon-wrap i.fa{
	margin:auto 0;
}