.plan-wrap{
	margin-top: 70px;
	padding-bottom: 30px;
}

.plan-content {
  position: relative;
  width: 90vw;
  background-color: #fff;
  padding: 0;
  height: 90px;
  margin: 40px auto;
  box-shadow: 0 2px 4px 0 rgba(121, 146, 185, 0.54);
  margin: 30px auto 10px auto;
  border-radius: 2px;
}

.plan-wrap .plan#none{
	margin: 40px;
	color: #1565c0;
	text-align: center;
}
.plan-wrap .plan#none p{
	line-height: 60px;
	font-size: 1.05em;
}
.plan-wrap .plan#none div#2{
	line-height: 40px;
	font-size: 0.75em;
}

.plan-wrap .plan-date {
  position: relative;
  top: 7px;
  left: 10px;
  color: #1565c0;
}
.plan-wrap .plan-date .plan-weekday {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1.1em;
  color: #1565c0;
}
.plan-wrap .plan-date .plan-month {
  position: absolute;
  top: 28px;
  left: 10px;
  font-size: 0.9em;
  color: #1565c0;
}
.plan-wrap .plan-date .plan-line {
  position: absolute;
  top: 45px;
  left: -2px;
  width: 48px;
  height: 1.5px;
  background-color: #1565c0;
  transform: rotate(45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.plan-wrap .plan-date .plan-day {
  position: absolute;
  top: 43px;
  left: 20px;
  font-size: 1.3em;
  color: #1565c0;
}

.plan-wrap .showname {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 70vw;
  line-height: 30px;
  color: #174071;
  font-size: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.plan-wrap .showname .plan-empty{
	color: #888;
	font-size: 0.8em;
}
.plan-wrap .con-user {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.9em;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}